/*Global Styles */
:root {
  --color-primary: #00cf88;
  --color-primary-active: #268766;
  --color-secondary: #263238;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
  font-weight: 400;
}
h5 {
  font-size: 0.9em;
  font-weight: 400;
}

a {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
  color: var(--color-secondary);
  cursor: pointer;
}

.paragraph {
  max-width: 330px;
  padding: 10px;
  text-align: center;
}

.logo {
  margin: 0 0 50px 0;
  width: 149px;
  height: 221px;
  transform: scale(1.1);
}

input[type="tel"] {
  height: 35px;
  width: 250px;
  border: solid 1px var(--color-primary);
  padding: 10px;
  font-family: "Lato";
  font-weight: 900;
  text-align: center;
}
input[type="tel"]:focus {
  height: 35px;
  border: solid 2px var(--color-primary-active);
  padding: 10px;
}

.option-button {
  height: 45px;
  width: 20em;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-family: "Lato", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

/*Closing Global Styles */

/*<--------------------->*/

/*COMPONENT: HomeUsers*/

.homeuser-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*Closing COMPONENT: HomeUsers Styles */

/*<--------------------->*/

/*COMPONENT: HomeGuest*/

.homeguest-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*Closing COMPONENT: HomeGuest Styles */

/*<--------------------->*/

/*COMPONENT: MapView*/

/*Leaflet Override Styles */
.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
.leaflet-popup-tip-container {
  display: none;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.leaflet-popup-content {
  margin: 0px !important;
  padding: 0px;
  width: 100% !important;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 1000px solid rgba(255, 255, 255, 0.3);
}
/*Leaflet Override Styles */

.mapview-container {
  width: 100vw;
  height: 100vh;
}
/*Floating Buttons*/

.button-group {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  width: 20%;
  bottom: 3vh;
}

.button-rise {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  margin: 0 25px;
  background-color: var(--color-primary);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
}

.icon-bar-location {
  background-image: url(./assets/geolocation2.svg);
  background-repeat: no-repeat;
  padding: 20px 33px;
}

.icon-bar-huerta {
  background-image: url(./assets/huerta.svg);
  background-repeat: no-repeat;
  padding: 20px 33px;
}

.icon-bar-person {
  background-image: url(./assets/person.svg);
  background-repeat: no-repeat;
  padding: 20px 33px;
}

/*Top Floating Bar*/

.top-bar {
  height: 50px;
  width: 330px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  top: 3vh;
  background-color: white;
  display: flex;
  border-radius: 25px;
  align-content: center;
}

.top-bar img {
  padding: 5px;
  width: 49px;
}

.button-menu {
  min-width: 15%;
  cursor: pointer;
  background-color: var(--color-primary);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 5%;
  border-radius: 0px 25px 25px 0px;
}
.button-menu:after {
  content: " \2807";
  color: white;
  font-size: 28px;
}

/*Closing COMPONENT: HomeGuest Styles */

/*<--------------------->*/

/*COMPONENT: Peek*/

.peek {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  border-radius: 25px;
  padding: 2px;
}
.peek img {
  height: 50px;
  width: 50px;
  background-image: url(./assets/defaultphotouser.png);
  background-size: 50px;
  border-radius: 50%;
}
.peek h4 {
  font-weight: bold;
}

.plus {
  margin-right: 12px;
}

.plus::before {
  content: "+";
  height: 20px;
  width: 20px;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Lato";
  color: var(--color-primary);
}

/*Closing COMPONENT: Peek */

/*<--------------------->*/

/*COMPONENT: Peek*/

.modal-component {
  background-color: var(--color-primary);
  min-width: 300px;
  min-height: 600px;
  border-radius: 20px 20px 20px 20px;
}

.top-bar-component {
  top: 0;
  position: relative;
  height: 40px;
  width: inherit;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 25px 5px 25px 10px;
  align-items: center;
}
.top-bar-component h3 {
  color: white;
}

/*<--------Arrow Icon---------->*/
.arrow-icon {
  position: relative;
  margin: 10px 0 0 5px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.arrow {
  width: 90%;
  height: 2.5px;
  background-color: white;
  transform: rotate(-180deg);
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2.5px;
  right: -4px;
  background-color: white;
}

.arrow::after {
  top: -3px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 3px;
  transform: rotate(-45deg);
}
/*<--------Arrow Icon---------->*/

.text-preview {
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  max-width: 300px;
  padding: 0 0 0 11px;
}

.user-profile-image {
  height: 90px;
  width: 90px;
  background-image: url(./assets/defaultphotouser.png);
  background-size: 50px;
  border-radius: 50%;
}

.user-info-component {
  background-color: white;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: 10px;
  background-color: var(--color-primary);
  position: absolute;
  z-index: 0;
  left: 75px;
}

.progress-badges {
  z-index: 1;
  margin: 2px 10px;
  width: 38px;
  background-color: white;
  height: 38px;
  border: 3px var(--color-primary) solid;
  border-radius: 20px;
}

.about-me {
  margin: 8px 0;
  background-color: white;
  padding: 10px 0 10px 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.gallery-user {
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}
.mouseInfo {
  background-color: lightcoral;
}
.carrousel-image {
  margin: 3px 10px;
  height: 73px;
}

.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 340px;
  white-space: nowrap;
}

.gallery-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
  margin: 5px 0;
}
.gallery-info div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow-gallery {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.elem {
  display: inline-block;
}
/* width */
::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-active);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-active);
}
