/*Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("//fonts.googleapis.com/css?family=Varela+Round");

:root {
  --color-primary: #00cf88;
  --color-primary-active: #268766;
  --color-secondary: #263238;
  --color-lines: #c4c4c4;
  --color-terciary: #ede221;
  --height-profile-component: 607px;
  --width-profile-component: 320px;
  --width-menu-component: 275px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
  font-weight: 400;
}
h5 {
  font-size: 1em;
  font-weight: 400;
}
h6 {
  font-size: 0.8em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-secondary) !important;
}

hr {
  margin: 10px 0px;
  border-bottom: 2px solid var(--color-lines);
}

.homeuser-container {
  background: #fff;
}

.fullscreen-enabled .my-component {
  background: #fff !important;
}

/* width */
::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-active);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-active);
}

@media only screen and (max-width: 727px) {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar {
    display: none;
  }
}

.underline {
  text-decoration: underline;
  color: var(--color-secondary);
  cursor: pointer;
}

.paragraph {
  max-width: 330px;
  padding: 10px;
  text-align: center;
}

.logo {
  margin: 0 0 50px 0;
  width: 149px;
  height: 221px;
  transform: scale(1.1);
}

input[type="tel"] {
  height: 35px;
  width: 250px;
  border: solid 1px var(--color-primary);
  padding: 10px;
  font-family: "Lato";
  font-weight: 900;
  text-align: center;
}
input[type="tel"]:focus {
  height: 35px;
  border: solid 2px var(--color-primary-active);
  padding: 10px;
}

.option-button {
  height: 45px;
  width: 20em;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

/*Closing Global Styles */

/*<--------------------->*/

/*COMPONENT: HomeUsers*/

.homeuser-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*Closing COMPONENT: HomeUsers Styles */

/*<--------------------->*/

/*COMPONENT: HomeGuest*/

.homeguest-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*Closing COMPONENT: HomeGuest Styles */

/*<--------------------->*/

/*COMPONENT: MapView*/

/*Leaflet Override Styles */
.leaflet-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
.leaflet-popup-tip-container {
  display: none;
}

.pulse {
  z-index: 0 !important;
}

.leaflet-marker-icon {
  margin-left: -55px !important;
  margin-top: -55px !important;
  width: 110px !important;
  height: 110px !important;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.leaflet-popup-content {
  margin: -5px !important;
  padding: 0px;
  width: 100% !important;
}
/*Leaflet Override Styles */

.mapview-container {
  width: 100vw;
  height: 100vh;
}
/*Floating Buttons*/

.button-group {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  margin: auto;
  bottom: 5%;
  right: 2%;
}

.button-rise {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  margin: 5px 0;
  background-color: var(--color-primary);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
}

.button-rise-white {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  margin: 5px 0;
  background-color: white;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
}
.icon-user {
  background-color: var(--color-primary);
  padding: 3px;
  border-radius: 50%;
}

.mihuerta {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
}

.mihuerta-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  border-radius: 25px;
  padding: 2px;
}
.mihuerta-container img {
  height: 50px;
  width: 50px;
  background-size: 50px;
  border-radius: 50%;
}
.mihuerta-container h4 {
  font-weight: bold;
}

/*Top Floating Bar*/

.top-bar {
  height: 50px;
  width: 330px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  align-content: center;
}

.top-bar div {
  display: flex;
  align-items: center;
}

.top-bar img {
  padding: 5px;
  width: 49px;
  height: 49px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50px;
}

.button-menu {
  min-width: 40px;
  cursor: pointer;
  margin: none !important;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 0 25%;
}

.top-bar .button-menu:after {
  content: " \2807";
  color: var(--color-primary);
  font-size: 28px;
}

/*Closing COMPONENT: HomeGuest Styles */

/*<--------------------->*/

/*POPUP COMPONENTS SHARED STYLES */
.profile-component {
  background-color: var(--color-primary);
  border-radius: 0px 0px 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: var(--height-profile-component);
  width: var(--width-profile-component);
  -webkit-overflow-scrolling: touch;
}

.popup {
  outline: 120vw solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}
/* width */
.profile-component::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}

.profile-component .user-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 4%;
  width: inherit;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.component-detailed .single-action img {
  width: 14px;
  height: 18px;
}

.loading-screen-modal {
  height: 50px;
  min-width: 250px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 7;
}

.top-bar-component {
  top: 0;
  padding: 25px 5px 26px 10px;
  border-radius: 20px 20px 0px 0px;
  height: 40px;
  width: 320px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-component .button-menu:after {
  content: " \2807";
  color: white;
  font-size: 28px;
}

.top-bar-component h3 {
  color: white;
  margin-left: 20%;
}

.modal {
  height: 101.5%;
  width: 103.2%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
}

.modal-content {
  width: 250px;
  height: 150px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0;
}
.modal-buttons div {
  width: 45%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.modal-button-green {
  background-color: var(--color-primary);
}

.modal-button-red {
  background-color: #ff4949;
}

/*<--------Modal for Picked items---------->*/

.picked-modal-background-container {
  height: 93.7%;
  width: 103.2%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  backdrop-filter: blur(2px);
}

.picked-modal-background-container-scape-area {
  height: 100%;
  width: 100%;
  position: absolute;

  z-index: 3;
}

.picked {
  background: white;
  width: 90%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 15px;
  z-index: 5;
}

.picked-owner {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 10px 0px;
}

.picked-owner img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 50px;
  border-radius: 50%;
}
.picked-owner h4 {
  font-weight: bold;
}

.picked-gallery-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  margin-left: -10px;
}

.picked-gallery-wrapper p {
  margin-left: 18% !important;
  margin-top: 5% !important;
  font-weight: bold;
  color: grey;
}

.picked-gallery-wrapper img {
  width: 85%;
  object-fit: cover;
  margin: 0px 8px;
  border-radius: 3px;
  background-image: url(./assets/defaultgallery.png);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.picked h4 {
  font-weight: bold;
  font-size: 1.2em;
}

.picked img {
  max-width: 100%;
}

.picked-actions {
  cursor: pointer;
  background-color: var(--color-primary);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 10px 10px 10px 0px;
}
/*<--------Element List---------->*/

.element-description {
  width: 200px;
}

.text-preview {
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  width: 70%;
}

.element-list-container {
  width: inherit;
  display: block;
  transition: display 0.7s ease-out;
  height: inherit;
  background-color: white;
  margin-top: 8px;
  padding: 17px;
}

.element-list-container p {
  text-align: center;
}

.element-list-item-container-deleted {
  display: none;
}

.element-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-left: var(--color-primary) 10px solid;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0px 0px 10px 0px;
  opacity: 1;
  transition: opacity 0.7s ease-out, box-shadow 0.5s ease-out,
    border-left 0.7s ease-out, background-color 0.7s ease-out;
}

.element-list-item-hidden {
  opacity: 0.5;
  text-decoration: line-through;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: none;
  background-color: lightgray;
  border-left: var(--color-secondary) 10px solid;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  transition: opacity 0.7s ease-out, box-shadow 0.5s ease-out,
    border-left 0.7s ease-out, background-color 0.7s ease-out;
}

.element-list-item-deletion {
  text-decoration: line-through;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: none;
  background-color: var(--color-primary-active);
  border-left: var(--color-secondary) 100% solid;
  padding: 19px 10px;
  margin: 0px 0px 10px 0px;
  transition: opacity 0.7s ease-out, box-shadow 0.5s ease-out,
    border-left 0.7s ease-out, background-color 0.7s ease-out;
}

.element-options {
  text-align: center;
  margin: 0px 2px;
  padding: 5px 5px;
  width: 25px;
  font-weight: bold !important;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

/*<--------Element List---------->*/

/*<--------Arrow Icon---------->*/

.arrow-icon {
  position: relative;
  margin: 10px 0 0 5px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.arrow {
  width: 90%;
  height: 2.5px;
  background-color: white;
  transform: rotate(-180deg);
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2.5px;
  right: -4px;
  background-color: white;
}

.arrow::after {
  top: -3px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 3px;
  transform: rotate(-45deg);
}
/*<--------Arrow Icon---------->*/

/*<--------------------->*/

/*POPUP COMPONENTS SHARED STYLES CLOSED */

/*COMPONENT EXCLUSIVE STYLES: Peek*/

.peek {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  border-radius: 25px;
  padding: 2px;
}

.peek img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 50px;
  border-radius: 50%;
}
.peek h4 {
  font-weight: bold;
}

.plus {
  margin-right: 15px;
}

.plus::before {
  content: "+";
  font-size: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Varela Round", cursive;
  color: var(--color-primary);
}

/*COMPONENT EXCLUSIVE STYLES: Peek */

/*<--------------------->*/

/*COMPONENT EXCLUSIVE STYLES: userinfo*/

.user-profile-image {
  height: 90px;
  width: 90px;
  background-image: url(./assets/defaultphotouser.png);
  object-fit: cover;
  background-size: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.progress-bar {
  height: 10px;
  background-color: var(--color-primary);
  position: absolute;
  z-index: 0;
  max-width: 70%;
  left: 55px;
}

.progress-badges {
  z-index: 1;
  margin: 2px 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 3px var(--color-primary) solid;
  border-radius: 50px;
}
.progress-badges img {
  z-index: 1;
  width: 90px;
  height: 90px;
  margin-top: -23px;
}

.about-me {
  margin: 8px 0;
  background-color: white;
  padding: 10px 0 10px 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.gallery-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
}

.gallery-info div {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px 0;
}

.gallery-user {
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  padding: 0px 10px 5px 10px;
}

.gallery-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 300px;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  height: 79px;
}

.gallery-wrapper p {
  margin-left: 18% !important;
  margin-top: 5% !important;
  font-weight: bold;
  color: grey;
}

.gallery-wrapper img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  margin: 0px 8px;
  border-radius: 3px;
  background-image: url(./assets/defaultgallery.png);
  background-size: 100px;
}

.arrow-gallery {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 7px;
  border-radius: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.elem {
  display: inline-block;
}

.action-list {
  background-color: white;
  margin-top: 10px;
  padding: 20px 20px;
}

.single-action {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.single-action img {
  width: 38px;
  height: 38px;
  margin: 10px 20px 0px 0px;
}

.action-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.action-container .arrow-gallery {
  position: relative !important;
  margin: 15px;
}

/*COMPONENT EXCLUSIVE STYLES: About Me */

/*<--------------------->*/

/*COMPONENT EXCLUSIVE STYLES: Badge*/

.profile-component .badges-component {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4%;
  width: inherit;
  height: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.user-image-badge {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 10px 0 30px 0;
  padding: 10px 0;
  border-bottom: 2px var(--color-lines) solid;
}

.user-profile-badge {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 3px var(--color-primary) solid;

  border-radius: 50px;
}

.user-image-badge h5 {
  color: var(--color-primary) !important;
}

.user-profile-badge img {
  z-index: 1;
  width: 90px;
  height: 90px;

  margin-top: -23px;
}

.user-profile-image-badge {
  border: 3px var(--color-primary) solid;
  height: 120px;
  width: 120px;
  align-self: center;
  object-fit: cover;
  background-image: url(./assets/defaultphotouser.png);
  background-size: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}
/*COMPONENT EXCLUSIVE STYLES: Badge */

/*<--------------------->*/

/*COMPONENT EXCLUSIVE STYLES: Detailed*/

.information-component .single-action img {
  width: 15px;
  height: 15px;
  margin: 10px 20px 0px 0px;
}

.information-component .single-action .gallery-wrapper img {
  width: 250px;
  height: 250px;
  object-fit: cover;

  border-radius: 3px;
  background-image: url(./assets/defaultgallery.png);
  background-size: 100px;
}

.action-info {
  border-bottom: var(--color-lines) 2px solid;
  width: 100%;
  margin-right: -20px;
  display: flex;
  align-content: center;
  padding: 5px 0;
}
.action-info h3 {
  margin-bottom: 5px;
}

.action-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.detailed-info-container {
  background-color: white;
  margin-top: 7px;
  padding: 10px 20px 20px 20px;
}

/*COMPONENT EXCLUSIVE STYLES: Detailed */

/*<--------------------->*/

/*COMPONENT EXCLUSIVE STYLES: Gallery*/
.gallery {
  background-color: white;
  padding: 10px;
}

.gallery img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  background-image: url(./assets/defaultgallery.png);
  background-size: cover;
  margin-top: 5px;
}
.gallery p {
  text-align: center;
}

/*COMPONENT EXCLUSIVE STYLES: Detailed */

/*<--------------------->*/

/* EXCLUSIVE STYLES: All Users*/

.all-users {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.all-users .user-info {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 15%;
}

.all-users-map-scape-area {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
}

.all-users-content {
  background: var(--color-primary);
  max-height: 80vh;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  width: var(--width-profile-component);
  max-height: var(--height-profile-component);
}

.all-users-content .top-bar-component {
  justify-content: none;
  padding: 8% 25% 7% 5%;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.all-users-group {
  background-color: white;
  margin-top: 7px;
}

.all-users-single {
  display: flex;
  align-content: center;
  flex-direction: row;
  cursor: pointer;
  width: var(--width-profile-component);
  padding: 8px 0px 10px 10px;
  margin: 5px;
}

.all-users-single img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  background-image: url(./assets/defaultphotouser.png);
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.all-users-info {
  width: 100%;
  border-bottom: var(--color-lines) 2px solid;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 10px 10px;
}

.all-users-info-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.all-users-info .modal-button-green {
  width: 40%;
  text-align: center;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0px 6px -2px 0px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: bold !important;
  font-size: 12px;
}

/*COMPONENT EXCLUSIVE STYLES: All Users Popup */

/*<--------------------->*/

/* EXCLUSIVE STYLES: Documents*/

/*COMPONENT EXCLUSIVE STYLES: Documents */

/*<--------------------->*/

/* EXCLUSIVE STYLES: Exchange*/

.product-description {
  width: 60%;
}

.exchange-switch {
  margin: 7px 0px -8px 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

.element-list-item .eye {
  margin-top: 2px;
  margin-left: 15px;
  cursor: pointer;
}

.exchange-switch div {
  width: 50%;
  height: 20px;
  padding: 16px 0;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*COMPONENT EXCLUSIVE STYLES: Exchange */

/*<--------------------->*/

/* EXCLUSIVE STYLES: Plants*/

.plant-info {
  border-bottom: 2px var(--color-lines) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 2px 5px;
  margin-right: -20px;
  margin-bottom: 10px;
}
.plant-list-container .single-action img {
  background-image: url(./assets/defaultphotouser.png);
  background-size: 50px;
  border-radius: 50%;
}

.close-picked {
  margin-left: 90%;
  cursor: pointer;
  font-size: 1.5em;
  font-family: "Varela Round", cursive;
  font-weight: bold;
  color: gray;
}

/*COMPONENT EXCLUSIVE STYLES: Plants */

/*<--------------------->*/

/* EXCLUSIVE STYLES: MenuComponent*/
.component-menu {
  height: 100vh;
  width: 100vw;
  padding: none;
  margin: auto;
  overflow: hidden;
}
.top-bar-menu-component {
  top: 0;
  padding: 25px 5px 26px 10px;
  height: 6%;
  width: inherit;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-menu-content {
  height: 94%;
}

.top-bar-menu-component h3 {
  color: white;
}

.top-bar-menu-component img {
  image-resolution: initial;
  width: 45px;
  height: 45px;
}

/*COMPONENT EXCLUSIVE STYLES: Plants */

/*<--------------------->*/

/* EXCLUSIVE STYLES: MenuFirst*/

.component-menufirst {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menufirst-options {
  min-width: var(--width-menu-component);
  padding: 30px;
}

.menufirst-single-option {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 140px;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0px 19px 19px;
  border-radius: 10px;
  margin: 30px 0px;
  border-right: 43px var(--color-primary) solid;
}

.menufirst-single-option img {
  background-color: var(--color-primary);
  width: 69px;
  height: 69px;
  border-radius: 50px;
  object-fit: scale-down;
  padding: 9px;
}

.menufirst-single-option-text {
  width: 80%;
  margin: 0px 5px;
  padding: 0px 10px;
}

.arrow-menu {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
  height: 10px;
  margin-right: -25px;
  border-radius: 3px;
}

.illustrations-menufirst {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.illustrations-menufirst img {
  max-width: 221;
}
/*COMPONENT EXCLUSIVE STYLES: MenuFirst */

/*<--------------------->*/

/* EXCLUSIVE STYLES: MenuLibrary*/

.component-library {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow-x: scroll;
}

.component-library-categories-container {
  min-width: var(--width-menu-component);
  margin: 10px;
}

.component-library-categories {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0px 19px 19px;
  border-radius: 10px;
  margin: 18px 0px;
  border-left: 19px var(--color-terciary) solid;
}

.component-library-categories div {
  display: flex;
  align-items: center;
}
.component-library-categories h5 {
  margin-right: 5px;
}

.component-library-text {
  text-align: center;
  width: 20%;
}

.component-library-text h2 {
  margin-bottom: 10px;
}

.arrow-library {
  border: solid var(--color-terciary);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  height: 7px;
  margin-right: 10px;
  border-radius: 3px;
}

/* EXCLUSIVE STYLES: MenuLibrary*/

/*<--------------------->*/

/* EXCLUSIVE STYLES: LibraryCategory*/

.component-library-category {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow-x: scroll;
}

.component-library-category-categories {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 19px;
  border-radius: 10px;
  margin: 18px 10px 18px 18px;
  border-left: 19px var(--color-primary) solid;
}

/* EXCLUSIVE STYLES: LibraryCategory*/

/*<--------------------->*/

/* EXCLUSIVE STYLES: MenuDocuments*/
.component-menuexchange {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow: scroll;
}
.component-exchange-text {
  text-align: center;
  width: 177px;
}

.component-exchange-text h2 {
  margin-bottom: 10px;
}

.menuexchange-options {
  min-width: 245px;
  padding: 30px;
}

.menuexchange-single-option {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 19px;
  border-radius: 10px;
  margin: 30px 0px;
  border-left: 20px var(--color-primary) solid;
}

.menuexchange-single-option-text {
  padding: 10px;
  width: 80%;
}

.arrow-menuexchange {
  border: solid var(--color-primary);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 7px;
  height: 10px;

  border-radius: 3px;
}
